body {
  margin: 0;
  font-family: Catamaran,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  height: 100%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
